<div class="container">
    <div class="row">
        <div class="col-md-12 text-center" id="top-bar">
            <h1 class="big-title"><b>EAT-DA-BURGER:</b></h1>
            <h2 class="sub-title"><b>What You Crave</b></h2>
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/e/e1/White_Castle_logo.svg/400px-White_Castle_logo.svg.png"
                alt="slider">
        </div>

        <div class="row">
            <div class="col-md-6 text-center" class="task">
                <div class="row">
                    {{#each burger_data}}
                    {{#unless this.devoured}}
                    <div class="col-md-9 text-center">
                        <br>
                        <pre class="burger">{{this.id}}. {{this.burger_name}}</pre>
                    </div>
                    <div class="col-md-3 text-center">
                        <form method="POST" action="/burgers/update?_method=PUT" class="button-size">
                            <input type="hidden" name="burger_id" type="text" value={{this.id}}>
                            <br>
                            <button type="submit" class="btn btn-primary"><b>EAT IT</b></button>
                        </form>
                    </div>
                    {{/unless}}
                    {{/each}}
                </div>
            </div>

            <div class="col-md-6 text-center" class="task">
                {{#each burger_data}}
                {{#if this.devoured}}
                <br>
                <input class="form-control devoured" type="text" placeholder="{{this.id}}. {{this.burger_name}}"
                    readonly>
                {{/if}}
                {{/each}}
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center enter_section">
            <br>
            <p class="instructions">Enter a burger you want to eat</p>
            <form action="/burgers/create" method="POST">
                <input type="text" name="burger_name" class="form-control" value="" id="enter_text"
                    placeholder="Add your burger here">
                <br>
                <button type="submit" class="btn btn-primary" id="text-enter-button"><b>Add A Burger</b></button>
            </form>
        </div>
    </div>
</div>